<?xml version="1.0"?>
<settings>

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <servers>
    <server>
      <id>MuleRepository</id>
      <username>${nexus_username}</username>
      <password>${nexus_password}</password>
    </server>
 	<server>
        <id>anypoint-exchange-v3</id>
        <username>${nexus_username}</username>
        <password>${nexus_password}</password>
    </server>
	<server>
      <id>github</id>
      <username>mat-piotrowski</username>
      <password>${GITHUB_TOKEN}</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>Mule</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>MuleRepository</id>
          <name>MuleRepository</name>
          <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository> 

        <repository>
            <id>anypoint-exchange-v3</id>
            <name>Exchange Repository</name>
            <url>https://maven.anypoint.mulesoft.com/api/v3/organizations/${anypoint.organizationId}/maven</url>
            <layout>default</layout>
        </repository>		
      </repositories>
    </profile>
	
	<profile>
      <id>github</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2</url>
        </repository>
        <repository>
          <id>github</id>
          <url>https://maven.pkg.github.com/mat-piotrowski-mulesoft/maven-repository</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
</settings>